<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<title i18n='title'>Cassia 蓝牙调试工具</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
	<meta http-equiv="expires" content="0">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="./lib/element-ui-2.12.0/index.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/index.css">
</head>

<body>
  <div id="app">
    <el-row class="box">
      <el-col :span="8" class="col1" style="padding: 10px; ">
        <el-form label-width="80px">
          <el-divider>连接配置</el-divider>
          <el-form-item label="服务URL">
            <el-col :span="16">
              <el-input v-model="store.devConf.serverURI" class="server-ip" clearable placeholder="http://192.168.0.100"></el-input>
            </el-col>
            <el-col :span="8">
              <el-radio-group v-model="store.devConf.controlStyle">
                <el-radio-button :label="'ap'">AP</el-radio-button>
                <el-radio-button :label="'ac'">AC</el-radio-button>
              </el-radio-group>
            </el-col>
          </el-form-item>
          <el-form-item label="开发账号" v-show="store.devConf.controlStyle === 'ac'">
            <el-input v-model="store.devConf.acDevKey" class="ac-dev-key"></el-input>
          </el-form-item>
          <el-form-item label="开发密码" v-show="store.devConf.controlStyle === 'ac'">
            <el-input v-model="store.devConf.acDevSecret" class="ac-dev-secret"></el-input>
          </el-form-item>
          <el-form-item label="AP MAC" v-show="store.devConf.controlStyle === 'ac'">
            <el-input v-model="store.devConf.mac" class="ap-mac" placeholder="CC:1B:E0:E0:DD:70"></el-input>
          </el-form-item>
          <el-divider>扫描配置</el-divider>
          <el-form-item label="使用芯片">
            <el-radio-group v-model="store.devConf.chip" size="medium">
              <el-radio-button :label="0">芯片0</el-radio-button>
              <el-radio-button :label="1">芯片1</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="过滤名称">
            <el-tag
              :key="tag"
              v-for="tag in store.devConf.filter_name"
              closable
              :disable-transitions="false"
              @close="scanFilterNamesHandleClose(tag)">
              {{tag}}
            </el-tag>
            <el-input
              class="input-new-tag"
              v-if="store.devConfDisplayVars.scanFilterNamesInputVisible"
              v-model="store.devConfDisplayVars.scanFilterNamesInputValue"
              ref="scanFilterNamesSaveTagInput"
              @keyup.enter.native="scanFilterNamesHandleInputConfirm"
              @blur="scanFilterNamesHandleInputConfirm"
            >
            </el-input>
            <el-button v-else class="button-new-tag" @click="scanFilterNamesShowInput">+</el-button>
          </el-form-item>
          <el-form-item label="过滤MAC">
            <el-tag
                :key="tag"
                v-for="tag in store.devConf.filter_mac"
                closable
                :disable-transitions="false"
                @close="scanFilterMacsHandleClose(tag)">
                {{tag}}
              </el-tag>
              <el-input
                class="input-new-tag"
                v-if="store.devConfDisplayVars.scanFilterMacsInputVisible"
                v-model="store.devConfDisplayVars.scanFilterMacsInputValue"
                ref="scanFilterMacsSaveTagInput"
                @keyup.enter.native="scanFilterMacsHandleInputConfirm"
                @blur="scanFilterMacsHandleInputConfirm"
              >
              </el-input>
              <el-button v-else class="button-new-tag" @click="scanFilterMacsShowInput">+</el-button>
          </el-form-item>
          <el-form-item label="过滤RSSI">
            <el-slider
                v-model="store.devConf.filter_rssi"
                show-stops
                :min="0"
                :max="-85">
              </el-slider>
          </el-form-item>
          <el-divider>常用操作</el-divider>
          <el-row>
            <el-col :span="6">
              <el-button size="medium">AP 信息</el-button>
            </el-col>
            <el-col :span="6">
              <el-button size="medium">重启 AP</el-button>
            </el-col>
            <el-col :span="6">
              <el-button type="primary" size="medium" @click="startScan" v-show="!store.devConfDisplayVars.isScanning">开始扫描</el-button>
              <el-button type="danger" size="medium" @click="stopScan" v-show="store.devConfDisplayVars.isScanning">停止扫描</el-button>
            </el-col>
            <el-col :span="6">
              <el-dropdown>
                <el-button size="medium" >
                  简体中文<i class="el-icon-arrow-down el-icon--right"></i>
                </el-button>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item>简体中文</el-dropdown-item>
                  <el-dropdown-item>English</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </el-col>
          </el-row>
          <el-divider>更多参考</el-divider>
          <el-row style="text-align: center;">
            <el-link icon="el-icon-link" href="https://github.com/CassiaNetworks/CassiaSDKGuide/wiki">Cassia SDK Implementation Guide</el-link>
          </el-row>
        </el-form>
      </el-col>
      <el-col :span="15" :offset="1" style="height: 100%; padding:30px 30px 30px 10px; border-left: 1px solid #e6e6e6;">
        <el-row  style="height: 100%;">
          <el-col :span="2" style="height: 100%; padding-left: 10px;">
            <el-menu
              collapse
              @select="menuSelect"
              default-active="scanListMenuItem"
              class="el-menu-vertical-demo"
              style="height: 100%;">
              <el-menu-item index="scanListMenuItem">
                <i class="el-icon-search"></i>
                <span slot="title">扫描列表</span>
              </el-menu-item>
              <el-menu-item index="connectListMenuItem">
                <i class="el-icon-connection"></i>
                <span slot="title">连接列表</span>
              </el-menu-item>
              <el-menu-item index="notifyListMenuItem">
                <i class="el-icon-message-solid"></i>
                <span slot="title">通知列表</span>
              </el-menu-item>
              <el-menu-item index="apiDebugger">
                <i class="el-icon-service"></i>
                <span slot="title">接口调试</span>
              </el-menu-item>
            </el-menu>
          </el-col>
          <el-col :span="22" style="height: 100%; overflow: scroll; padding: 0px 20px 20px 20px">
            <el-tabs  v-show="store.devConfDisplayVars.activeMenuItem === 'scanListMenuItem'"	>
              <el-tab-pane>
                <span slot="label" style="font-size: 16px; font-weight: bold; "><i class="el-icon-s-data"></i> 扫描结果</span>
                <el-table
                  :data="cache.scanResultList"
                  style="width: 100%; border-radius:3px;"
                  :cell-style="{'padding-left': '10px'}"
                  stripe
                  highlight-current-row
                  :header-cell-style="{background: '#2897ff', color: '#fff', 'padding-left': '10px'}"
                  >
                  <el-table-column
                    label="设备信息"
                    width="160"
                  >
                    <template slot-scope="scope">
                        <el-row style="font-weight: bold;">{{ scope.row.name }}</el-row>
                        <el-row style="font-size:12px; font-style: italic; color: #999">{{ scope.row.mac }}</el-row>
                        <el-row style="font-size:12px; font-style: italic; color: #999">{{ scope.row.bdaddrType }}</el-row>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="RSSI"
                    sortable
                  >
                    <template slot-scope="scope">
                      <span style="font-size:12px; font-style: italic; color: #999">{{ scope.row.rssi }} dBm</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="广播包"
                    width="360"
                  >
                    <template slot-scope="scope">
                      <span style="font-size:12px; font-style: italic; color: #999">{{ scope.row.adData }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="操作"
                  >
                    <template slot-scope="scope">
                      <el-button type="primary" size="small" @click="connectDevice(scope.row.mac)" :loading="cache.devicesConnectLoading[scope.row.mac]">连接</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </el-tab-pane>
              <el-tab-pane style="height: 100%; width: 100%;">
                <span slot="label" style="font-size: 16px; font-weight: bold; "><i class="el-icon-pie-chart"></i> RSSI图表</span>
                <el-row>
                  <el-form inline>
                    <el-form-item label="统计周期">
                      <el-select v-model="store.devConfDisplayVars.rssiChartPeriod" placeholder="统计周期" style="width: 100px;">
                        <el-option label="60秒" value="60"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="统计间隔">
                      <el-select v-model="store.devConfDisplayVars.rssiChartDataSpan" placeholder="统计间隔" @change="rssiChartDataSpanChange" style="width: 100px;">
                        <el-option label="200毫秒" value="200"></el-option>
                        <el-option label="500毫秒" value="500"></el-option>
                        <el-option label="1秒" value="1000"></el-option>
                        <el-option label="2秒" value="2000"></el-option>
                        <el-option label="5秒" value="5000"></el-option>
                        <el-option label="10秒" value="10000"></el-option>
                        <el-option label="30秒" value="30000"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item>
                      <el-button v-show="!store.devConfDisplayVars.rssiChartSwitch" size="medium" @click="destoryAndCreateRssiChart" type="primary">开启</el-button>
                      <el-button v-show="store.devConfDisplayVars.rssiChartSwitch && !store.devConfDisplayVars.rssiChartStopped" size="medium" @click="stopRssiChart" type="primary">暂停</el-button>
                      <el-button v-show="store.devConfDisplayVars.rssiChartSwitch && store.devConfDisplayVars.rssiChartStopped" size="medium" @click="startRssiChart" type="primary">继续</el-button>
                      <el-button v-show="store.devConfDisplayVars.rssiChartSwitch" size="medium" @click="destoryRssiChart" type="primary">关闭</el-button>
                    </el-form-item>
                  </el-form>
                </el-row>
                <el-row id="rssiChart" style="width: 100%; height: 500px; "></el-row>
              </el-tab-pane>
            </el-tabs>
            
            <el-row v-show="store.devConfDisplayVars.activeMenuItem === 'connectListMenuItem'">
              <el-tabs closable @tab-remove="connectedListTabRemove">
                <el-tab-pane v-for="(device, index) in cache.connectedList" :key="index" :name="index.toString()">
                  <span slot="label" style="font-size: 16px; font-weight: bold; "><i class="el-icon-connection"></i> {{ device.mac }}</span>
                  <el-row style="background-color: #2897ff; font-size: 14px; font-style: italic; border-radius: 3px; color: #fff; height: 60px; display: flex; align-items: center; padding-left: 15px; padding-right: 15px;">
                    <el-col :span="6">
                      <el-row>{{ device.name }}</el-row>
                      <el-row style="font-style:italic">{{ device.mac }}</el-row>
                    </el-col>
                    <el-col :span="3">{{ device.bdaddrType }}</el-col>
                    <el-col :span="3">chip{{ device.chip }}</el-col>
                    <el-col :span="12">
                      <el-button-group style="float: right; ">
                        <el-button size="mini" @click="getDeviceServices(device.mac)">服务</el-button>
                        <el-button type="danger" size="mini" @click="disconnectDevice(device.mac)">断连</el-button>
                        <el-button size="mini" size="mini">配对</el-button>
                        <el-button type="danger" size="mini">取消配对</el-button>
                      </el-button-group>
                    </el-col>
                  </el-row>
                  <el-row style="padding-left: 0px; margin-top: 15px;">
                    <el-collapse>
                      <el-collapse-item v-for="(service, index) in cache.devicesServiceList[device.mac]" :key="service.uuid">
                        <template slot="title">
                          <el-col style="padding-left: 5px; font-size: 14px; font-style: italic;">{{ service.uuid }}</el-col>
                          <el-col style="float: right; font-size: 14px; font-style: italic;">{{ service.name }}</el-col>
                        </template>
                        <el-row style="background-color: #e6e6e6; padding: 15px; border-bottom: 1px solid #fff" v-for="(char, index) in service.characteristics" title="char.name" :key="char.uuid">
                          <el-row style="font-size: 14px; font-weight: bold; font-style: italic;">{{ char.name }}</el-row>
                          <el-row style="font-size: 1px; font-style: italic;">UUID: {{ char.uuid }}</el-row>
                          <el-row style="font-size: 12px; font-style: italic; ">
                            Properties: 
                            <el-button-group>
                              <el-button style="font-style: italic; font-weight: bold;" v-show="char.propertiesStr.includes('READ')" type="primary" size="mini" @Click="propertyClick('READ', device.mac, char.handle, char.writeValue)">
                                READ
                              </el-button>
                              <el-button style="font-style: italic; font-weight: bold;" v-bind:type="char.notifyStatus === 'on' ? 'primary' : 'info'" v-show="char.propertiesStr.includes('NOTIFY')" size="mini" @Click="propertyClick('NOTIFY', device.mac, char.handle, char.notifyStatus)">
                                NOTIFY
                              </el-button>
                              </el-switch>
                              <el-button style="font-style: italic; font-weight: bold;" v-show="char.propertiesStr.includes('WRITE NO RES')" type="primary" size="mini" @Click="propertyClick('WRITE NO RES', device.mac, char.handle, char.writeValue)">
                                WRITE NO RES
                              </el-button>
                              <el-button style="font-style: italic; font-weight: bold;" v-show="char.propertiesStr.includes('WRITE')" type="primary" size="mini" @Click="propertyClick('WRITE', device.mac, char.handle, char.writeValue)">
                                WRITE
                              </el-button>
                            </el-button-group>
                            <el-radio-group v-show="char.propertiesStr.includes('WRITE')" style="float: right" size="mini" v-model="char.writeValueType">
                              <el-radio-button label="hex">HEX</el-radio-button>
                              <el-radio-button label="text">TEXT</el-radio-button>
                            </el-radio-group>
                            <el-input v-show="char.propertiesStr.includes('WRITE')" style="width: 250px; float: right; font-size: 12px; font-style: italic;" size="mini" v-model="char.writeValue" :placeholder="char.writeValueType === 'hex' ? '格式：aa00bb11cc22（支持空格）' : '格式：任意字符'">
                            </el-input>
                          </el-row>
                          <el-row style="font-size: 12px; font-style: italic; color: #2897ff" v-show="char.readValue.toString().length !== 0">Value: (0x) {{ char.readValue }}</el-row>
                        </el-row>
                      </el-collapse-item>
                    </el-collapse>
                  </el-row>
                </el-tab-pane>
              </el-tabs>
            </el-row>
            <el-row style="font-style: italic;" v-show="store.devConfDisplayVars.activeMenuItem === 'notifyListMenuItem'">
              <el-table
                stripe
                highlight-current-row
                :data="cache.notifyResultList"
                style="width: 100%">
                <el-table-column
                  prop="mac"
                  sortable
                  label="MAC"
                  width="160">
                </el-table-column>
                <el-table-column
                  prop="time"
                  sortable
                  label="TIME"
                  width="180">
                </el-table-column>
                <el-table-column
                  prop="handle"
                  sortable
                  label="HANDLE"
                  width="120">
                </el-table-column>
                <el-table-column
                  prop="value"
                  label="VALUE">
                </el-table-column>
              </el-table>
            </el-row>
            <el-row v-show="store.devConfDisplayVars.activeMenuItem === 'apiDebugger'">
              <el-tabs>
                <el-tab-pane label="扫描设备">
                  <el-form label-width="80px">
                    <el-form-item label="使用芯片">
                      <el-radio-group v-model="store.devConf.chip" size="medium">
                        <el-radio-button :label="0">芯片0</el-radio-button>
                        <el-radio-button :label="1">芯片1</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item label="过滤名称">
                      <el-tag
                          :key="tag"
                          v-for="tag in store.devConf.filter_name"
                          closable
                          :disable-transitions="false"
                          @close="scanFilterNamesHandleClose(tag)">
                          {{tag}}
                        </el-tag>
                        <el-input
                          class="input-new-tag"
                          v-if="store.devConfDisplayVars.scanFilterNamesInputVisible"
                          v-model="store.devConfDisplayVars.scanFilterNamesInputValue"
                          ref="scanFilterNamesSaveTagInput"
                          @keyup.enter.native="scanFilterNamesHandleInputConfirm"
                          @blur="scanFilterNamesHandleInputConfirm"
                        >
                        </el-input>
                        <el-button v-else class="button-new-tag" @click="scanFilterNamesShowInput">+</el-button>
                    </el-form-item>
                    <el-form-item label="过滤MAC">
                      <el-tag
                          :key="tag"
                          v-for="tag in store.devConf.filter_mac"
                          closable
                          :disable-transitions="false"
                          @close="scanFilterMacsHandleClose(tag)">
                          {{tag}}
                        </el-tag>
                        <el-input
                          class="input-new-tag"
                          v-if="store.devConfDisplayVars.scanFilterMacsInputVisible"
                          v-model="store.devConfDisplayVars.scanFilterMacsInputValue"
                          ref="scanFilterMacsSaveTagInput"
                          @keyup.enter.native="scanFilterMacsHandleInputConfirm"
                          @blur="scanFilterMacsHandleInputConfirm"
                        >
                        </el-input>
                        <el-button v-else class="button-new-tag" @click="scanFilterMacsShowInput">+</el-button>
                    </el-form-item>
                    <el-form-item label="过滤RSSI">
                      <el-slider
                      v-model="store.devConf.filter_rssi"
                      show-stops
                      :min="0"
                      :max="-85">
                    </el-slider>
                    </el-form-item>
                    <el-form-item>
                      <el-button-group>
                        <el-button type="primary" size="medium" @click="startScan" v-show="!store.devConfDisplayVars.isScanning">立即调试</el-button>
                        <el-button type="danger" size="medium" @click="stopScan" v-show="store.devConfDisplayVars.isScanning">停止扫描</el-button>
                        <el-button type="primary" size="medium" @click="genCode('scan')">生成代码</el-button>
                      </el-button-group>
                    </el-form-item>
                  </el-form>
                  <el-row>
                    <el-tabs>
                      <el-tab-pane label="调试结果">
                        <pre>
                          <!-- {{ cache.apiDebuggerResult.scanResultList.join('\n') }} -->
                        </pre>
                      </el-tab-pane>
                      <el-tab-pane label="cURL代码">
                        <pre>
                          {{ cache.apiDebuggerResult.scanCodeCurl }}
                        </pre>
                      </el-tab-pane>
                      <el-tab-pane label="NodeJS代码">
                        <pre>
                          {{ cache.apiDebuggerResult.scanCodeNodeJS }}
                        </pre>
                      </el-tab-pane>
                    </el-tabs>
                  </el-row>
                </el-tab-pane>
                <el-tab-pane label="连接设备">

                </el-tab-pane>
                <el-tab-pane label="读取数据">
                  
                </el-tab-pane>
                <el-tab-pane label="写入数据">
                  
                </el-tab-pane>
                <el-tab-pane label="断开连接">
                  
                </el-tab-pane>
                <el-tab-pane label="连接通知">
                  
                </el-tab-pane>
              </el-tabs>
            </el-row>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </div>
</body>
<script src="./lib/vue-2.6.11/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.1.0/dist/echarts.js"></script>
<script src="./lib/axios-0.19.0/axios.min.js"></script>
<script src='./lib/element-ui-2.12.0/index.js'></script>
<script src='./lib/eventsource/eventsource.min.js'></script>
<script src='./lib/lodash/lodash.js'></script>
<script src="./js/index.js" type="module"></script>
</script>
</html>